#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  border: $black-border;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: darken(#fff, 10%);
  }

  &:active {
    background-color: darken(#fff, 20%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
