.cards {
  @include outer-container(90%);

  .card-wrapper {
    @include span-columns(12);

    @include media (min-width $medium-screen max-width $large-screen) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media (min-width $large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include pad($base-spacing);
  }

  .card {
    @extend .clickable;
    @include pad(0 $small-spacing);

    * {
      color: inherit;
      background: none;
    }

    .card-header {
      @include transition(border 0.2s ease-in-out);

      font-weight: bold;
      border-bottom: 4px solid;
      padding: $small-spacing / 2;
      font-size: $header-font-size;
    }

    .card-body {
      padding: 34% $base-spacing;
      border-top: none;
      font-size: $subheader-font-size;
    }

    .card-footer {
      padding: $small-spacing / 2;
      border-top: none;
    }
  }

  .card-editing {
    cursor: default;

    .card-body {
      outline: none;
    }
  }

}
