.cards {
  @include outer-container;

  .card {
    @include span-columns(4);

    @include media (max-width $medium-screen) {
      @include span-columns(6);
    }

    @include media (max-width $small-screen) {
      @include span-columns(12);
    }

    padding: $base-spacing*1.8;

    .card-header {
      border: $base-border;
      font-size: $header-font-size;
    }

    .card-body {
      height: 4em;
      border: $base-border;
      border-top: none;
      font-size: $subheader-font-size;
      padding-top: $subheader-font-size - ($subheader-font-size / 4);
    }

    .card-footer {
      height: 2em;
      border: $base-border;
      border-top: none;
    }
  }
}
