.cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .card-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30em;
    height: 28em;
    padding: $base-spacing;
  }

  .card-wrapper.card-editing {
    .card-editable {
      cursor: text;
    }
  }

  .card {
    border: 1px solid;
    height: 100%;

    .card-header {
      @include transition(border 0.2s ease-in-out);

      font-weight: bold;
      border-width: 4px;
      font-size: $subheader-font-size;

      // This is a sneaky AF hack around for a bug in FF/Chrome
      // where the caret on an empty contenteditable is either
      // invisible or in the wrong place. \00a0 is whitespace.
      //
      // There are still a couple of reproducable glitches, but hey ho.
      &:before {
        content: '\00a0';
      }
    }

    .card-body-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
    }

    .card-body {
      font-size: $subheader-font-size;

      // See above
      &:before {
        content: '\00a0';
      }
    }

    .card-footer {
      // See above
      &:before {
        content: '\00a0';
      }
    }
  }

  .card-editing {
    cursor: default;

    .card-body {
      outline: none;
    }
  }

}
