.list {
  padding: $base-spacing;

  .header {
    border: $base-border;
    font-size: $header-font-size
  }

  .list-item {
    @include outer-container(90%);

    @extend .clickable;

    height: 100%;
    border: $base-border;
    border-bottom: none;
    padding: $base-spacing;
    font-size: $base-font-size;

    * {
      color: inherit;
      background: none;
    }

    &:last-child {
      border-bottom: $base-border;
    }

    .title {
      @include span-columns(4);

      text-align: left;
      font-size: $subheader-font-size;
      margin-top: -$subheader-font-size / 6;
    }

    .separator {
      @include transition(border 0.2s ease-in-out);

      float: left;
      border-left: 4px solid;
      padding: 0 $small-spacing;
    }

    .description {
      @include transition(border 0.2s ease-in-out);

      float: left;
      text-align: left;
    }

    .adendum {
      float: right;
      border-left: 4px solid;
      padding: 0 $base-spacing;
    }
  }
}
