.list-editing {
  .list-item {
    .description, .title, .author {
      &, * {
        outline: none;
      }
    }
  }
}
.list {
  padding: $base-spacing 0;
  width: 100%;
  margin: 0 auto;

  .header {
    font-size: $header-font-size
  }

  .list-item {
    border-top: $black-border;
    padding: $base-spacing;
    font-size: $base-font-size;
    text-align: center;
    width: 100%;

    &:last-child {
      border-bottom: $black-border;
    }

    @include media($medium-screen-up) {
      text-align: left;
    }

    .title, .separator, .description, .author {
      display: block;

      @include media($medium-screen-up) {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .title {
      font-size: $subheader-font-size;
      width: 100%;

      @include media($medium-screen-up) {
        width: 39%;
      }
    }

    .separator {
      $separator: 4px solid;

      @include transition(border 0.2s ease-in-out);
      border-bottom: $separator;
      width: 100%;
      height: 0;

      @include media($medium-screen-up) {
        border-left: $separator;
        border-bottom: none;
        height: 100%;
        width: 1%;
      }
    }

    .description {
      width: 100%;

      @include media($medium-screen-up) {
        width: 50%;
      }
    }

    .author {
      @include transition(border 0.2s ease-in-out);

      @include media($medium-screen-up) {
        width: 10%;
        text-align: right;
      }
    }
  }

  .list-item.editing {
    position: absolute;
    border-bottom: $black-border;
    @include cursor-grab;

    &.grabbing {
      @include cursor-grabbing;
    }

    .title, .description, .author {
      cursor: text;
    }
  }
}