.list {
  padding: $base-spacing;

  .header {
    font-size: $header-font-size
  }

  .list-item {
    @include outer-container(90%);

    @extend .clickable;

    height: 100%;
    border: $base-border;
    border-bottom: none;
    padding: $base-spacing;
    font-size: $base-font-size;

    * {
      color: inherit;
      background: none;
    }

    &:last-child {
      border-bottom: $base-border;
    }

    .handle {
      border: 1px solid;
      width: 1em;
      height: 1em;
      float: left;
    }

    .title {
      font-size: $subheader-font-size;
      margin-top: -$subheader-font-size / 6;

      @include media(max-width $large-screen) {
        @include span-columns(12);
      }

      @include media($large-screen) {
        @include span-columns(5);

        text-align: left;
      }
    }

    .separator {
      @include transition(border 0.2s ease-in-out);

      @include media(max-width $large-screen) {
        @include span-columns(12);
        height: 4px;

        border-top: 4px solid;
      }

      @include media($large-screen) {
        float: left;
        text-align: left;
        border-left: 4px solid;
        padding-right: $base-spacing;
      }

    }

    .description {
      text-align: center;

      @include media(max-width $large-screen) {
        @include span-columns(12);
      }

      @include media($large-screen) {
        float: left;
        text-align: left;
      }
    }

    .adendum {
      @include transition(border 0.2s ease-in-out);

      @include media(max-width $large-screen) {
        @include span-columns(12);

        padding-top: $base-spacing;
        border-top: 4px solid;
      }

      @include media($large-screen) {
        display: inline-block;
        float: right;
        text-align: right;
        border-left: 4px solid;
        padding-left: $base-spacing;
      }
    }
  }
}
