html, body {
  margin: 0;
  text-align: center;
  min-height: 100%;
}

h1, h2, h3, h4, h5 {
  outline: none;
}

#home {
  overflow: hidden;
}

#main-view {
  /* Make sure to play nice with container */
  overflow: auto;
  width: 100%;
  height: 100%;

  h1,h2,h3,h4,h5 {
    a {
      color: inherit;

      &:hover {
        color: lighten(#000, 40%);
      }
      @include transition (all 0.2s ease-in-out);
    }

  }

  hr {
    margin-top: 0.2em;
  }

  .toolbar {
    button, input {
      text-align: center;
      margin: 1em 0.2em;
      color: #fff;
    }

    button {
      padding: 0.2em;
      outline: none;
      width: 4em;
      height: 2em;
    }

    input {
      width: 4em; 
      height: 3em;

      margin: auto;
    }
  }

  #story-selector {
    background-color: $light-gray;
    opacity: 0;
    border: $black-border;
    text-align: left;
    width: 20%;
    left: 0;
    right: 0;
    padding: 1em;
    @include position(absolute, 50% 0 null 0);
    @include margin(null auto null auto);

    li {
      cursor: pointer;
      text-align: center;

      &:hover {
        background-color: darken($light-gray, 10%);
      }

      &:active {
        background-color: darken($light-gray, 20%);
      }

      @include transition (all 0.2s ease-in-out);
    }

    @include transition (all 0.2s ease-in-out);
  }

  /* Editor defaults */
  text-align: center;
  font-family: 'Crimson Text';

  p {
    outline: none;
    line-height: 1.25em;
    margin: 1.25em 0;
  }

  .paragraphs {
    font-size: $base-font-size;
    padding: $small-spacing;
  }
}

.login, .register {

  a, input[type=text], input[type=email], input[type=password] {
    width: 25%;

    min-width: 16em;

    margin: auto;

    margin-bottom: $base-spacing;
  }

  input[type=submit] {
    @extend button;
    margin-bottom: $base-spacing;
  }
}

.invisible {
  opacity: 0;
}

.hidden {
  display: none;
}

.greyed {
  color: #A8A8A8;
}

.error-msg {
  @include transition (all 0.4s ease-in-out);

  color: red
}

.loader {
  $size: 8em;
  $border: 0.6em;
  border-radius: $size;
  height: $size;
  width: $size;
  left: 50%;
  margin: $size / -2 0 0 ($size / -2) - $border;
  position: absolute;
  top: 50%;
  opacity: 0;
  background-color: #000;

  animation: pulsate 1.2s ease-out;
  animation-iteration-count: infinite;

  @keyframes pulsate {
    0% {
      transform: scale(0.6);
      opacity: 0;
    }

    50% {
      opacity: 0.75
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }

  }
}

.night-mode {
  * {
    background-color: #000;
    color: #fff;
    border-color: #fff;
  }

  .loader {
    background-color: #fff;
  }

  input {
    background-color: #000;
    border-color: #fff;
    color: #fff;
  }

  button, input[type=submit] {
    background-color: #000;
    border-color: #fff;
    color: #fff;

    &:hover {
      background-color: lighten(#000, 60%);
      color: #000;
    }

    &:active {
      background-color: #fff;
      border: $black-border;
    }
  }
}
