html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

h1, h2, h3, h4, h5 {
  outline: none;
}

h1 {
  font-size: $header-font-size;
}

h2 {
  font-size: $subheader-font-size;
}

h3 {
  font-size: $subsubheader-font-size;
}

#home {
  overflow: hidden;
}

#main-view {
  /* Make sure to play nice with container */
  overflow: auto;
  width: 100%;
  height: 100%;

  h1,h2,h3,h4,h5 {
    a {
      color: inherit;

      &:hover {
        color: lighten(#000, 40%);
      }
      @include transition (all 0.2s ease-in-out);
    }

  }

  hr {
    margin-top: $base-spacing;
  }

  .toolbar {
    button, input {
      text-align: center;
    }
    

    input {
      width: 4em; 
      height: 3em;

      margin: auto;
    }
  }

  /* Editor defaults */
  text-align: center;
  font-family: 'Crimson Text';

  p {
    outline: none;
    line-height: 1.25em;
    margin: 1.25em 0;
  }

  .paragraphs {
    font-size: $base-font-size;
    padding: $small-spacing;
  }
}

.form {
  a, input[type=text], input[type=email], input[type=password] {
    width: 25%;
    min-width: 16em;
    margin: auto;
    margin-bottom: $base-spacing;
  }

  input[type=submit] {
    @extend button;
    margin-bottom: $base-spacing;
  }
}

.invisible {
  opacity: 0;
}

.hidden {
  display: none;
}

.greyed {
  color: #A8A8A8;
}

.error-msg {
  @include transition (all 0.4s ease-in-out);

  color: red
}

.loader {
  $size: 8em;
  $border: 0.6em;
  $time: 1.4s;

  height: $size;
  width: $size;
  background-color: #000;
  left: 50%;
  top: 50%;
  margin-top: 1em;
  border-radius: $size;
  margin: $size / -2 0 0 ($size / -2) - $border;
  position: absolute;
  opacity: 0;
  animation: pulsate $time;
  animation-iteration-count: infinite;

  .blot {
    border-radius: inherit;
    opacity: inherit;
    background-color: inherit;
    animation: pulsate $time;
    animation-iteration-count: infinite;
  }

  @keyframes pulsate {
    0% {
      transform: scale(0.6);
      opacity: 0;
    }

    75% {
      opacity: 1
    }

    100% {
      transform: scale(1);
    }
  }

  #blot1 {
    width: $size / 3;
    height: $size / 3;
    float: right;
  }

  #blot2 {
    width: $size / 2;
    height: $size / 2;
  }

  #blot3 {
    width: $size / 1.25;
    height: $size / 1.25;
    float: right;
  }
}
