html {
  height: 100%;
  font-family: 'Rosarivo', serif;
  font-size: 12px;

  @include media($medium-screen-up) {
    font-size: 14px;
  }

  @include media($large-screen-up) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  min-height: 100%;
}

#main-view {
  /* Make sure to play nice with container */
  overflow: auto;
  width: 100%;
  height: 100%;
  
  text-align: center;

  a {
      color: inherit;

      &:hover {
          color: lighten(#000, 40%);
      }
      @include transition (all 0.2s ease-in-out);
  }

  hr {
    margin-top: $base-spacing;
  }

  p {
    outline: none;
    line-height: 1.25em;
    margin: 1.25em 0;
  }

  .paragraphs {
    font-size: $base-font-size;
    padding: $small-spacing;
  }
}

.invisible {
  opacity: 0;
}

.hidden {
  display: none;
}

.greyed {
  color: #A8A8A8;
}

.error-msg {
  @include transition (all 0.4s ease-in-out);

  color: red
}

.no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}