//  Modified from Bourbon refills
header.navigation {
  $navigation-padding: $small-spacing;
  $navigation-background: white;
  $navigation-color: black;
  $navigation-height: 1em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    max-width: 100%;
    position: relative;
    z-index: 9999;
    padding: $navigation-padding;
    padding-bottom: 0;
  }

  .logo {
    float: left;
    max-height: $navigation-height;

    a {
      max-height: $navigation-height;
      padding: -$navigation-height  0;
    }

    @include media ($horizontal-bar-mode) {
      @include span-columns(2);
      @include shift(5);
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    overflow: visible;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
    }
  }

  // The nav items

  ul li.nav-link {
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    text-align: right;
    z-index: 9999;

      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;

    a {
      display: inline-block;
      text-decoration: none;
    }

  }

  // Elements on the far right

  .right {
    clear: both;
    display: block;
    clear: none;
    float: right;
  }

  .nav-item {
    float: left;

    ul {
      position: relative;

      font-size: $base-font-size;
      width: 100%;
    }

    @include media($horizontal-bar-mode) {
      display: inline-block;
      width: 100%;
    }
  }
}
