#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  border: $black-border;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1em;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.3em;
  outline: none;
  width: 6em;
  margin-right: $small-spacing;

  &:hover {
    background-color: darken(#fff, 60%);
    color: #fff;
  }

  &:active {
    background-color: #000;
    border: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @include transition(all 0.15s ease-in-out);
}

.btn--large {
  @extend .btn;

  width: 6em;
  height: 3em;
}

.btn--small {
  @extend .btn;

  width: 4em;
  height: 2em;
}

.btn-group {
  button, .btn-group-member {
    border-right: none;

    &:last-child {
      border-right: 1px solid;
    }

  }

}
