.clickable {
  @include appearance(none);
  @include transition(all 0.2s ease-in-out);

  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  border: $black-border;
  color: #000;
  cursor: pointer;
  user-select: none;
  
  &:hover {
    background-color: darken(#fff, 60%);
    color: #fff;

    * {
      border-color: #fff !important;
      color: #fff !important;
    }
  }

  &:active {
    background-color: #000;
    border-color: #fff;
    color: #fff;

    * {
      border-color: #fff;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

}

#{$all-button-inputs},
.btn, button {
  @extend .clickable;

  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1em;
  padding: 0.75em 1em;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.3em;
  outline: none;
  width: 6em;
  margin-right: $small-spacing;
}

.btn--large {
  @extend .btn;

  width: 6em;
  height: 3em;
}

.btn--small {
  @extend .btn;

  width: 4em;
  height: 2em;
}

.btn-group {
  button, .btn-group-member {
    margin-right: 0;
    border-color: #000;
  }
}
