// Typography
$base-font-family: 'Alegreya';
$heading-font-family: 'Rosarivo', serif;

// Font Sizes
$base-font-size: 1.1em;
$header-font-size: $base-font-size*1.6;
$subheader-font-size: $header-font-size*0.8;
$subsubheader-font-size: $subheader-font-size*0.8;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$smaller-spacing: $small-spacing / 4;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-background-color: #fff;
$base-font-color: #000;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

$black-border: 1px solid #000;
$white-border: 1px solid #fff;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
